@use "../../../utils.scss" as *;

.FieldNote {
  margin-top: 0.5rem;
  font-size: pxToRem(12px);
  line-height: pxToRem(20px);
  color: var(--color-gray-80);

  &--error {
    color: var(--color-red-60);
  }
}
