@use "../../utils.scss" as *;

.Tooltip {
  padding: pxToRem(8px) pxToRem(12px);
  width: max-content;
  max-width: pxToRem(232px);
  font-size: pxToRem(12px);
  line-height: pxToRem(20px);
  font-weight: var(--font-weight-medium);
}
