@use "../../utils.scss" as *;

.Tooltip {
  padding: pxToRem(12px);
  width: max-content;
  max-width: pxToRem(240px);
  display: flex;
  flex-direction: column;
  gap: pxToRem(8px);

  &__title {
    font-size: pxToRem(12px);
    line-height: pxToRem(18px);
    font-weight: var(--sds-fw-semi-bold);
  }

  &__message {
    font-size: pxToRem(12px);
    line-height: pxToRem(18px);
    font-weight: var(--sds-fw-medium);
    color: var(--sds-clr-gray-08);
  }
}
