.playgroundContainer {
  margin-bottom: var(--ifm-leading);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}

.playgroundHeader {
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 600;
  background: var(--ifm-pg-cta-background);
  color: var(--ifm-pg-cta-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.playgroundHeader svg {
  display: block;
  width: 1rem;
  height: 1rem;
  fill: var(--ifm-pg-cta-color);
}

.playgroundHeader:first-of-type {
  background: var(--ifm-pg-cta-background);
  color: var(--ifm-pg-cta-color);
}

.playgroundEditor {
  font: var(--ifm-code-font-size) / var(--ifm-pre-line-height)
    var(--ifm-font-family-monospace) !important;
  /* rtl:ignore */
  direction: ltr;
}

.playgroundPreview {
  padding: 1rem;
  background-color: var(--ifm-pre-background);
}
