.TextButton {
  --loader-color: var(--TextButton-color-text);

  font-size: 1rem;
  font-family: var(--font-family-base);
  line-height: 1.75rem;
  padding: 0.5rem 0.2rem;
  color: var(--TextButton-color-text);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &--primary {
    --TextButton-color-text: var(--color-accent);

    font-weight: var(--font-weight-medium);

    &:hover {
      opacity: 0.7;
    }
  }

  &--secondary {
    --TextButton-color-text: var(--color-text);

    font-weight: var(--font-weight-normal);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:disabled {
      text-decoration: underline;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  .ButtonIcon {
    svg {
      fill: var(--TextButton-color-text);
    }
  }

  .Loader {
    margin-left: 0.5rem;
  }
}
