.Identicon {
  --Identicon-size: 2.75rem;

  display: flex;
  align-items: center;
  position: relative;

  &__icon {
    width: var(--Identicon-size);
    height: var(--Identicon-size);
    background-color: var(--color-gray-10);
    border: 1px solid var(--color-gray-30);
    border-radius: calc(var(--Identicon-size) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    img {
      width: 45%;
      height: 45%;
    }
  }

  &__address {
    margin-left: 0.5rem;
    word-break: break-all;
    font-family: var(--font-family-monospace);
    color: var(--color-gray-90);
    line-height: 1.5;
  }
}

.TextLink {
  .Identicon__address {
    text-decoration: underline;
    color: var(--color-gray-90);
  }

  @media (hover: hover) {
    &:hover {
      .Identicon__address {
        text-decoration: none;
      }
    }
  }
}

.TextLink--disabled {
  @media (hover: hover) {
    &:hover {
      .Identicon__address {
        text-decoration: underline;
      }
    }
  }
}
