@use "../../utils.scss" as *;

.Display,
.Heading {
  --Heading-font-size: #{pxToRem(56px)};

  font-family: var(--sds-ff-heading);
  font-weight: var(--sds-fw-regular);
  letter-spacing: calc(var(--Heading-font-size) * 0.04 * -1);
  padding: 0;
  margin: 0;

  // Size
  &--xl {
    --Heading-font-size: #{pxToRem(56px)};
    line-height: pxToRem(64px);
  }
  &--lg {
    --Heading-font-size: #{pxToRem(48px)};
    line-height: pxToRem(56px);
  }
  &--md {
    --Heading-font-size: #{pxToRem(40px)};
    line-height: pxToRem(48px);
  }
  &--sm {
    --Heading-font-size: #{pxToRem(32px)};
    line-height: pxToRem(40px);
  }
  &--xs {
    --Heading-font-size: #{pxToRem(24px)};
    line-height: pxToRem(32px);
  }

  // Font weight
  &--bold {
    font-weight: var(--sds-fw-bold);
  }
  &--semi-bold {
    font-weight: var(--sds-fw-semi-bold);
  }
  &--medium {
    font-weight: var(--sds-fw-medium);
  }
}

p.Text,
div.Text,
span.Text {
  font-family: var(--sds-ff-base);
  font-weight: var(--sds-fw-regular);
  letter-spacing: 0;
  padding: 0;
  margin: 0;

  &--xl {
    font-size: pxToRem(20px);
    line-height: pxToRem(28px);
  }
  &--lg {
    font-size: pxToRem(18px);
    line-height: pxToRem(26px);
  }
  &--md {
    font-size: pxToRem(16px);
    line-height: pxToRem(24px);
  }
  &--sm {
    font-size: pxToRem(14px);
    line-height: pxToRem(22px);
  }
  &--xs {
    font-size: pxToRem(12px);
    line-height: pxToRem(20px);
  }

  // Font weight
  &--bold {
    font-weight: var(--sds-fw-bold);
  }
  &--semi-bold {
    font-weight: var(--sds-fw-semi-bold);
  }
  &--medium {
    font-weight: var(--sds-fw-medium);
  }
}

code.Code {
  font-family: var(--sds-ff-monospace);
  font-weight: var(--sds-fw-medium);
  letter-spacing: 0;

  &--md {
    font-size: pxToRem(16px);
    line-height: pxToRem(24px);
  }
  &--sm {
    font-size: pxToRem(14px);
    line-height: pxToRem(22px);
  }
  &--xs {
    font-size: pxToRem(12px);
    line-height: pxToRem(18px);
  }
}
