@use "../../utils.scss" as *;

.Checkbox {
  --Checkbox-color-background: var(--sds-input-color-background-default);
  --Checkbox-color-border: var(--sds-input-color-border-default);
  --Checkbox-color-icon: var(--sds-clr-base-00);

  --Checkbox-size: #{pxToRem(14px)};
  --Checkbox-icon-size: #{pxToRem(10px)};
  --Checkbox-vertical-gap: #{pxToRem(2px)};
  --Checkbox-horizontal-gap: #{pxToRem(8px)};
  --Checkbox-font-size: #{pxToRem(12px)};
  --Checkbox-line-height: #{pxToRem(18px)};

  --Checkbox-box-shadow-size: 0;
  --Checkbox-box-shadow-color: var(--sds-input-box-shadow-color-default);

  display: flex;
  flex-direction: column;
  gap: var(--Checkbox-vertical-gap);

  @media (hover: hover) {
    &:hover {
      input[type="checkbox"] {
        & + label {
          --Checkbox-color-border: var(--sds-input-color-border-default);
        }
      }
    }
  }

  &--sm {
    --Checkbox-size: #{pxToRem(14px)};
    --Checkbox-icon-size: #{pxToRem(10px)};
    --Checkbox-font-size: #{pxToRem(12px)};
    --Checkbox-line-height: #{pxToRem(18px)};
  }

  &--md {
    --Checkbox-size: #{pxToRem(16px)};
    --Checkbox-icon-size: #{pxToRem(12px)};
    --Checkbox-font-size: #{pxToRem(12px)};
    --Checkbox-line-height: #{pxToRem(18px)};
  }

  &--lg {
    --Checkbox-size: #{pxToRem(18px)};
    --Checkbox-icon-size: #{pxToRem(14px)};
    --Checkbox-font-size: #{pxToRem(14px)};
    --Checkbox-line-height: #{pxToRem(20px)};
  }

  &__container {
    display: flex;
    align-items: center;
    position: relative;

    input[type="checkbox"] {
      opacity: 0;
      position: absolute;
      z-index: -1;

      &:checked + label {
        --Checkbox-color-background: var(--sds-clr-lilac-09);
        --Checkbox-color-border: var(--sds-clr-lilac-09);

        span svg {
          opacity: 1;
        }
      }

      &:focus + label {
        --Checkbox-box-shadow-size: #{pxToRem(2px)};
      }

      &:disabled + label {
        --Checkbox-color-background: var(--sds-clr-gray-02);
        --Checkbox-color-border: var(--sds-input-color-border-disabled);
        cursor: not-allowed;
      }

      &:checked:disabled + label {
        --Checkbox-color-background: var(--sds-clr-gray-04);
        --Checkbox-color-border: var(--sds-input-color-border-disabled);
        --Checkbox-color-icon: var(--sds-clr-gray-09);
        cursor: not-allowed;
      }
    }

    label {
      font-size: var(--Checkbox-font-size);
      line-height: var(--Checkbox-line-height);
      font-weight: var(--sds-fw-medium);
      flex: 1;
      position: relative;
      display: flex;
      gap: var(--Checkbox-horizontal-gap);

      & > span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--Checkbox-size);
        height: var(--Checkbox-size);
        flex-shrink: 0;
        border: 1px solid var(--Checkbox-color-border);
        background-color: var(--Checkbox-color-background);
        border-radius: pxToRem(4px);
        box-shadow: 0 0 0 var(--Checkbox-box-shadow-size)
          var(--Checkbox-box-shadow-color);
        transition: background-color var(--sds-anim-transition-default),
          border-color var(--sds-anim-transition-default),
          box-shadow var(--sds-anim-transition-default);

        &[data-has-label="true"] {
          margin-top: calc(
            (var(--Checkbox-line-height) - var(--Checkbox-size)) / 2
          );
        }

        svg {
          display: block;
          opacity: 0;
          width: var(--Checkbox-icon-size);
          height: var(--Checkbox-icon-size);
          stroke: var(--Checkbox-color-icon);
        }
      }
    }
  }

  &--error {
    input[type="checkbox"] {
      & + label {
        --Checkbox-color-background: var(--sds-input-color-background-error);
        --Checkbox-color-border: var(--sds-input-color-border-error);
      }

      &:focus + label {
        --Checkbox-box-shadow-color: var(--sds-input-box-shadow-color-error);
      }
    }

    @media (hover: hover) {
      &:hover {
        input[type="checkbox"]:not(:checked) {
          & + label {
            --Checkbox-color-border: var(--sds-input-color-border-error-hover);
          }
        }
      }
    }
  }

  .FieldNote {
    margin-left: calc(var(--Checkbox-size) + var(--Checkbox-horizontal-gap));
  }
}
