@use "../../mixins.scss";

.Checkbox {
  &__container {
    display: flex;
    align-items: center;
    position: relative;

    @include mixins.checkbox-radio-base-selectors("checkbox");

    label {
      @include mixins.checkbox-radio-label;

      &::before {
        @include mixins.checkbox-radio-container;
        border-radius: 0.25rem;
      }
    }
  }

  &__icon {
    @include mixins.checkbox-radio-icon-container;

    span {
      @include mixins.checkbox-radio-icon-wrapper;
    }

    svg {
      --checkbox-selected-size: 0.75rem;
      @include mixins.checkbox-radio-icon-centered;
      @include mixins.svg-color(var(--color-white));
      width: var(--checkbox-selected-size);
      height: var(--checkbox-selected-size);
    }
  }

  &--error {
    label::before {
      border-color: var(--color-red-60);
    }
  }

  &--disabled {
    @include mixins.checkbox-radio-disabled;
  }
}
