.Checkbox {
  display: flex;
  align-items: center;

  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  input[type="checkbox"] + label::before {
    background-color: var(--color-background-input);
  }

  input[type="checkbox"]:checked + label::before {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
  }

  input[type="checkbox"]:checked + label > span {
    display: block;
  }

  label {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: var(--font-weight-normal);
    color: var(--color-note);
    flex: 1;
    display: flex;
    align-items: flex-start;
    position: relative;
    text-transform: none;
    margin-bottom: 0;

    &::before {
      content: "";
      margin-top: 0.25rem;
      width: 1rem;
      height: 1rem;
      display: block;
      margin-right: 0.75rem;
      border-radius: 0.125rem;
      border: 1px solid var(--color-accent);
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.16);
      z-index: 1;
      flex-shrink: 0;
    }
  }

  &__icon {
    width: calc(1rem + 2px);
    height: calc(1rem + 2px);
    margin-top: 0.25rem;
    display: none;
    z-index: 2;
    position: absolute;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    svg {
      width: 0.6rem;
      height: 0.6rem;
      fill: var(--color-background-input);
    }
  }

  &--disabled {
    opacity: var(--opacity-disabled-button);
  }
}
