@use "../../mixins.scss";

.Checkbox {
  display: flex;
  align-items: center;

  @include mixins.checkbox-radio-base-selectors("checkbox");

  label {
    @include mixins.checkbox-radio-label;

    &::before {
      @include mixins.checkbox-radio-container;
      border-radius: 0.125rem;
    }
  }

  &__icon {
    @include mixins.checkbox-radio-icon-container;

    span {
      @include mixins.checkbox-radio-icon-wrapper;
    }

    svg {
      --checkbox-selected-size: 0.6rem;
      @include mixins.checkbox-radio-icon-centered;
      width: var(--checkbox-selected-size);
      height: var(--checkbox-selected-size);
      fill: var(--color-background-input);
    }
  }

  &--disabled {
    @include mixins.checkbox-radio-disabled;
  }
}
