@use "../../utils.scss" as *;

.Floater {
  position: relative;
  z-index: 1;

  &__content {
    position: absolute;
    display: none;
    transition: all var(--sds-anim-transition-default);
    opacity: 0;
    top: calc(100% + pxToRem(8px));
    left: 50%;
    transform: translateX(-50%);
    border-radius: pxToRem(6px);
    z-index: 1;

    color: var(--sds-clr-gray-01);
    background-color: var(--sds-clr-gray-12);
    border: 1px solid var(--sds-clr-gray-12);
    box-shadow: 0 pxToRem(12px) pxToRem(12px) pxToRem(-6px) rgba(0, 0, 0, 0.06);

    &--light {
      color: var(--sds-clr-gray-11);
      background-color: var(--sds-clr-gray-01);
      border-color: var(--sds-clr-gray-06);
      box-shadow: 0 pxToRem(10px) pxToRem(20px) pxToRem(-6px)
        var(--sds-overlay-01);

      .Floater__arrow svg {
        fill: var(--sds-clr-gray-06);
      }
    }
  }

  &__arrow {
    position: absolute;
    width: pxToRem(40px);
    height: pxToRem(13px);
    pointer-events: none;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--sds-clr-gray-12);
    }
  }

  // Floater open/close
  &.trigger {
    .Floater__content {
      display: block;
    }

    &--active {
      z-index: var(--sds-z-index-tooltip);

      .Floater__content {
        opacity: 1;
      }
    }
  }
}
