@use "../../mixins.scss";

.Modal {
  --Modal-offset-top: 0;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-index-modal);
  min-width: var(--layout-window-width-min);
  min-height: 100vh;
  overflow: hidden;

  &__container {
    position: absolute;
    width: 80%;
    max-width: 600px;
    background-color: var(--pal-background-primary);
    border-radius: 0;
    z-index: calc(var(--z-index-modal) + 1);
    padding: 3.5rem 1.5rem 2rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 3rem -1.5rem rgba(var(--pal-shadow-rbg), 0.16);
    margin-top: var(--Modal-offset-top);
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    border-radius: 0.5rem;
  }

  &__content {
    overflow-y: auto;
    max-height: 70vh;

    .ModalHeading {
      margin-bottom: 1.5rem;
      text-align: center;
    }

    .ModalFooter {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      gap: 0.5rem;
    }

    .ModalBody {
      & > *:not(:last-child) {
        margin-bottom: 1rem;
      }

      .InfoBlock:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }

    svg {
      width: 1.2rem;
      height: 1.2rem;
      @include mixins.svg-color(var(--pal-text-secondary));
    }
  }

  &__background {
    position: absolute;
    background-color: rgba(var(--pal-shadow-rbg), 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  // Make headings one step smaller
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.88rem;
  }

  h5 {
    font-size: 1.13rem;
    line-height: 1.75rem;
  }
}
