@use "../../utils.scss" as *;

.Modal {
  --Modal-offset-top: 0;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: var(--sds-z-index-modal);
  min-width: var(--sds-window-width-min);
  min-height: 100vh;

  // Align to the bottom on small screen
  &[data-modal-align="bottom"] {
    .Modal__container {
      @media (max-width: 480px) {
        width: 100%;
        left: 0;
        top: auto;
        bottom: 0;
        transform: translate(0, 0);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &__container {
    position: absolute;
    width: 96%;
    max-width: 480px;
    background-color: var(--sds-clr-gray-01);
    border: 1px solid var(--sds-clr-gray-06);
    box-shadow: pxToRem(0) pxToRem(10px) pxToRem(20px) pxToRem(-10px)
      var(--sds-overlay-01);
    border-radius: pxToRem(8px);
    z-index: calc(var(--sds-z-index-modal) + 1);
    padding: pxToRem(24px);
    margin-top: var(--Modal-offset-top);
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
  }

  &__content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
      minmax(0, max-content)
      fit-content(20rem)
      minmax(0, max-content);

    .ModalHeading {
      color: var(--sds-clr-gray-12);
      font-size: pxToRem(18px);
      line-height: pxToRem(26px);
      font-weight: var(--sds-fw-medium);
      margin: 0;
      margin-bottom: pxToRem(12px);
      width: calc(100% - 2rem);
    }

    .ModalBody {
      overflow-y: auto;
      padding-right: pxToRem(12px);

      color: var(--sds-clr-gray-11);
      font-size: pxToRem(14px);
      line-height: pxToRem(20px);
      font-weight: var(--sds-fw-regular);

      p,
      ul,
      ol {
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
      }

      & > *:not(:last-child) {
        margin-bottom: pxToRem(16px);
      }
    }

    .ModalFooter {
      display: flex;
      width: 100%;
      margin-top: pxToRem(24px);
      gap: pxToRem(8px);

      &--right {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
      }

      &--stretch {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        & > * {
          flex: 1;
        }
      }

      &--stack {
        flex-direction: column;

        & > * {
          width: 100%;
        }
      }

      .Button {
        white-space: nowrap;
      }
    }
  }

  &__close {
    position: absolute;
    top: pxToRem(18px);
    right: pxToRem(16px);
    cursor: pointer;

    .NavButton {
      --NavButton-size: #{pxToRem(32px)};
      --NavButton-icon-size: #{pxToRem(20px)};

      svg {
        stroke: var(--sds-clr-gray-09);
      }
    }
  }

  &__background {
    position: absolute;
    background-color: var(--sds-overlay-05);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
