@use "../../mixins.scss";

@mixin info-block($bg, $border, $icon) {
  background-color: $bg;
  border-color: $border;

  svg {
    @include mixins.svg-color($icon);
  }
}

.InfoBlock {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 1rem;
  padding-left: 2.5rem;
  line-height: 1.75rem;
  position: relative;
  color: var(--pal-text-secondary);

  &--info {
    @include info-block(
      var(--pal-info-background),
      var(--pal-info-border),
      var(--pal-info)
    );
  }

  &--success {
    @include info-block(
      var(--pal-success-background),
      var(--pal-success-border),
      var(--pal-success)
    );
  }

  &--error {
    @include info-block(
      var(--pal-error-background),
      var(--pal-error-border),
      var(--pal-error)
    );
  }

  &--warning {
    @include info-block(
      var(--pal-warning-background),
      var(--pal-warning-border),
      var(--pal-warning)
    );
  }

  &__icon {
    width: 1rem;
    height: 1.75rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  p {
    color: inherit;
  }
}
