@use "../../mixins.scss";

@mixin info-block($bg, $border, $icon) {
  background-color: $bg;
  border-color: $border;

  svg {
    fill: $icon;
  }
}

.InfoBlock {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 1rem;
  padding-left: 2.5rem;
  line-height: 1.75rem;
  position: relative;
  color: var(--color-gray-80);

  &--info {
    @include info-block(
      var(--color-purple-40),
      var(--color-purple-50),
      var(--color-purple-70)
    );
  }

  &--success {
    @include info-block(
      var(--color-green-40),
      var(--color-green-50),
      var(--color-green-70)
    );
  }

  &--error {
    @include info-block(
      var(--color-red-40),
      var(--color-red-50),
      var(--color-red-70)
    );
  }

  &--warning {
    @include info-block(
      var(--color-yellow-40),
      var(--color-yellow-50),
      var(--color-yellow-70)
    );
  }

  &__icon {
    width: 1rem;
    height: 1.75rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  p {
    color: inherit;
  }
}
