.DetailsTooltip {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  &__component {
    margin-right: 0.5rem;
    flex-grow: 1;
  }

  &__button {
    flex-shrink: 0;
    flex-grow: 0;
  }

  &--inline {
    display: inline-flex;
  }
}
