.ProjectLogo {
  display: flex;
  align-items: center;

  a {
    display: block;
    overflow: hidden;
    height: 1.5rem;
    width: 1.9rem;
    margin-right: 0.75rem;
    flex-shrink: 0;

    // TODO: make this dynamic
    @media (min-width: 600px) {
      width: 6rem;
    }

    svg {
      height: 100%;
      width: 6rem;
      fill: var(--sds-clr-base-01);
    }
  }
}
