.ProjectLogo {
  display: flex;
  align-items: center;

  a {
    display: block;
    overflow: hidden;
    height: 1.5rem;
    width: 1.9rem;
    margin-right: 0.75rem;
    flex-shrink: 0;

    // TODO: make this dynamic
    @media (min-width: 600px) {
      width: 6rem;
    }

    svg {
      height: 100%;
      width: 6rem;
      fill: var(--color-gray-90);
    }
  }

  &__title {
    background-color: var(--color-purple-60);
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: var(--sds-fw-medium);
    padding: 0.2rem 0.375rem;
    border-radius: 0.25rem;
  }
}
