@use "../../utils.scss" as *;

.Notification {
  // Variables
  --Notification-color-background: var(--color-purple-20);
  --Notification-color-border: var(--color-purple-30);
  --Notification-color-icon: var(--color-purple-50);

  // Base
  font-family: var(--font-family-base);
  background-color: var(--Notification-color-background);
  border: 1px solid var(--Notification-color-border);
  border-radius: pxToRem(4px);
  display: flex;
  flex-direction: column;
  gap: pxToRem(8px);
  padding: pxToRem(16px);
  width: 100%;

  &__title {
    display: flex;
    align-items: flex-start;
    gap: pxToRem(8px);

    &__icon {
      width: pxToRem(16px);
      height: pxToRem(16px);
      margin-top: pxToRem(3px);
      flex-shrink: 0;

      svg {
        width: 100%;
        height: 100%;
        fill: var(--Notification-color-icon);
      }
    }

    &__text {
      color: var(--color-gray-90);
      font-size: pxToRem(14px);
      line-height: pxToRem(22px);
      font-weight: var(--font-weight-medium);
    }
  }

  &__message {
    color: var(--color-gray-70);
    font-size: pxToRem(14px);
    line-height: pxToRem(22px);
    font-weight: var(--font-weight-regular);

    ul {
      font-size: pxToRem(14px);
      line-height: pxToRem(22px);
      color: var(--color-gray-70);
      list-style-type: disc;
    }
  }

  // Variant
  &--primary {
    --Notification-color-background: var(--color-purple-20);
    --Notification-color-border: var(--color-purple-30);
    --Notification-color-icon: var(--color-purple-50);
  }

  &--secondary {
    --Notification-color-background: var(--color-gray-20);
    --Notification-color-border: var(--color-gray-30);
    --Notification-color-icon: var(--color-gray-50);
  }

  &--success {
    --Notification-color-background: var(--color-green-20);
    --Notification-color-border: var(--color-green-30);
    --Notification-color-icon: var(--color-green-50);
  }

  &--error {
    --Notification-color-background: var(--color-red-20);
    --Notification-color-border: var(--color-red-30);
    --Notification-color-icon: var(--color-red-50);
  }

  &--warning {
    --Notification-color-background: var(--color-yellow-20);
    --Notification-color-border: var(--color-yellow-30);
    --Notification-color-icon: var(--color-yellow-50);
  }
}
