@use "../../utils.scss" as *;

.Label {
  font-family: var(--sds-ff-base);
  font-weight: var(--sds-fw-medium);
  color: var(--color-gray-60);

  &--sm {
    font-size: pxToRem(14px);
    line-height: pxToRem(22px);
  }

  &--xs {
    font-size: pxToRem(12px);
    line-height: pxToRem(20px);
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
