@use "../../utils.scss" as *;

.AssetIcon {
  --AssetIcon-color-border: var(--color-gray-30);

  display: flex;
  align-items: center;

  &__image {
    --AssetIcon-image-size: 100%;
    --AssetIcon-color-image-background: var(--color-gray-00);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: pxToRem(32px);
    height: pxToRem(32px);
    border-radius: pxToRem(16px);
    background-color: var(--AssetIcon-color-image-background);
    border: 2px solid var(--AssetIcon-color-border);
    overflow: hidden;

    img {
      display: block;
      width: var(--AssetIcon-image-size);
      height: var(--AssetIcon-image-size);
    }

    &:not(:first-child) {
      position: relative;
      z-index: 1;
      transform: translateX(-37.5%);
    }
  }
}
