@mixin base-heading {
  font-weight: var(--font-weight-normal);
  color: var(--pal-text-primary);
  margin: 0;
  padding: 0;

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

// Base font size 16px
// 48 / 60 (font size / line height)
h1 {
  @include base-heading;
  font-size: 3rem;
  line-height: 3.75rem;
}

// 40 / 48
h2 {
  @include base-heading;
  font-size: 2.5rem;
  line-height: 3rem;
}

// 32 / 40
h3 {
  @include base-heading;
  font-size: 2rem;
  line-height: 2.5rem;
}

// 24 / 36
h4 {
  @include base-heading;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

// 20 / 30
h5 {
  @include base-heading;
  font-size: 1.25rem;
  line-height: 1.88rem;
}

// 18 / 28
h6 {
  @include base-heading;
  font-size: 1.13rem;
  line-height: 1.75rem;
}

// 14 / 22
.Eyebrow {
  @include base-heading;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
}
