// TODO: see, if this can be imported once globally
@use "../../utils.scss" as *;

.ThemeSwitch {
  width: pxToRem(32px);
  height: pxToRem(20px);
  display: flex;
  align-items: center;
  margin-bottom: 0;
  line-height: 1;
  position: relative;
  cursor: pointer;

  &__track {
    width: pxToRem(32px);
    height: pxToRem(12px);
    border-radius: pxToRem(6px);
    background-color: var(--color-gray-40);
    transition: background-color 0.3s;
  }

  &__thumb {
    position: absolute;
    width: pxToRem(20px);
    height: pxToRem(20px);
    border-radius: pxToRem(10px);
    background-color: var(--color-gray-00);
    border: 1px solid var(--color-gray-50);
    transform: translateX(pxToRem(0));
    transition: background-color 0.3s, transform 0.4s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__icon {
      width: pxToRem(12px);
      height: pxToRem(12px);
      position: absolute;

      &[data-mode="sds-theme-light"] {
        opacity: 1;
        transition: opacity 0.5s;
      }

      &[data-mode="sds-theme-dark"] {
        opacity: 0;
        transition: opacity 0.4s;
      }
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
      stroke: var(--color-purple-60);
      transition: background-color 0.3s;
    }
  }

  input {
    display: none;
  }

  input:checked ~ .ThemeSwitch__thumb {
    transform: translateX(pxToRem(12px));
  }

  input:checked ~ .ThemeSwitch__thumb .ThemeSwitch__thumb__icon {
    &[data-mode="sds-theme-light"] {
      opacity: 0;
    }

    &[data-mode="sds-theme-dark"] {
      opacity: 1;
    }
  }
}
