@use "../../utils.scss" as *;

.Textarea {
  --Textarea-color-background: var(--sds-input-color-background-default);
  --Textarea-color-border: var(--sds-input-color-border-default);
  --Textarea-color-border-hover: var(--sds-input-color-border-default-hover);
  --Textarea-color-border-focus: var(--sds-input-color-border-default-focus);
  --Textarea-color-text: var(--sds-input-color-text-default);

  --Textarea-font-size: #{pxToRem(12px)};
  --Textarea-line-height: #{pxToRem(18px)};
  --Textarea-padding-vertical: #{pxToRem(6px)};
  --Textarea-padding-horizontal: #{pxToRem(10px)};
  --Textarea-border-radius: #{pxToRem(4px)};
  --Textarea-gap: #{pxToRem(8px)};

  --Textarea-box-shadow-size: 0;
  --Textarea-box-shadow-color: var(--sds-input-box-shadow-color-default);

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--Textarea-gap);

  &--sm {
    --Textarea-font-size: #{pxToRem(12px)};
    --Textarea-line-height: #{pxToRem(18px)};
    --Textarea-padding-vertical: #{pxToRem(6px)};
    --Textarea-padding-horizontal: #{pxToRem(10px)};
    --Textarea-border-radius: #{pxToRem(4px)};
    --Textarea-gap: #{pxToRem(6px)};
  }

  &--md {
    --Textarea-font-size: #{pxToRem(14px)};
    --Textarea-line-height: #{pxToRem(20px)};
    --Textarea-padding-vertical: #{pxToRem(8px)};
    --Textarea-padding-horizontal: #{pxToRem(12px)};
    --Textarea-border-radius: #{pxToRem(6px)};
    --Textarea-gap: #{pxToRem(8px)};
  }

  &--lg {
    --Textarea-font-size: #{pxToRem(16px)};
    --Textarea-line-height: #{pxToRem(24px)};
    --Textarea-padding-vertical: #{pxToRem(10px)};
    --Textarea-padding-horizontal: #{pxToRem(14px)};
    --Textarea-border-radius: #{pxToRem(8px)};
    --Textarea-gap: #{pxToRem(8px)};
  }

  textarea {
    display: block;
    width: 100%;
    font-family: var(--sds-ff-base);
    background-color: var(--Textarea-color-background);
    border: 1px solid var(--Textarea-color-border);
    color: var(--Textarea-color-text);
    border-radius: var(--Textarea-border-radius);
    box-shadow: 0 0 0 var(--Textarea-box-shadow-size)
      var(--Textarea-box-shadow-color);
    padding: var(--Textarea-padding-vertical) var(--Textarea-padding-horizontal);
    font-size: var(--Textarea-font-size);
    line-height: var(--Textarea-line-height);
    transition: border-color var(--sds-anim-transition-default),
      box-shadow var(--sds-anim-transition-default);

    @media (hover: hover) {
      &:hover {
        border-color: var(--Textarea-color-border-hover);
      }
    }

    &:focus-visible {
      --Textarea-box-shadow-size: #{pxToRem(2px)};
    }

    &::placeholder {
      color: var(--sds-input-color-text-placeholder);
    }
  }

  &--error {
    --Textarea-color-background: var(--sds-input-color-background-error);
    --Textarea-color-border: var(--sds-input-color-border-error);
    --Textarea-color-text: var(--sds-input-color-text-default);

    textarea {
      &:focus-visible {
        --Textarea-color-border-focus: var(
          --sds-input-color-border-error-focus
        );
        --Textarea-box-shadow-color: var(--sds-input-box-shadow-color-error);
      }
    }

    @media (hover: hover) {
      &:hover {
        --Textarea-color-border-hover: var(
          --sds-input-color-border-error-hover
        );
      }
    }
  }

  &--disabled {
    --Textarea-color-background: var(--sds-input-color-background-disabled);
    --Textarea-color-border: var(--sds-input-color-border-disabled);
    --Textarea-color-text: var(--sds-input-color-text-disabled);

    textarea {
      cursor: not-allowed;
    }
  }
}
