// Import global CSS from Stellar Design System
@import "@stellar/design-system/build/styles.min.css";

.Section {
  &:not(:last-of-type) {
    margin-bottom: 4.5rem;
  }

  &__content {
    max-width: 792px;
  }
}

.SubSection {
  margin-top: 1rem;
}

.Layout__header {
  z-index: 1;
}

.Layout__containerWithSideNav {
  display: flex;

  &__sideNavWrapper {
    --SideNav-width: 16rem;
    --SideNav-translate-x: var(--SideNav-width);

    width: var(--SideNav-width);
    padding-right: 1rem;
    flex-shrink: 0;
    background-color: transparent;
  }

  &__contentWrapper {
    overflow: hidden;
    flex: 1;
  }
}

// SideNav
body {
  #open-side-nav-button,
  #side-nav-close {
    display: none;
  }

  &.small-screen {
    #open-side-nav-button,
    #side-nav-close {
      display: flex;
    }

    .Layout__containerWithSideNav__sideNavWrapper {
      margin-right: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: var(--color-gray-80);
      z-index: var(--z-index-modal);
      transform: translateX(-100%);

      .SideNav {
        transition: transform var(--anim-transition-default);
        transform: translateX(calc(var(--SideNav-translate-x) * -1));
      }
    }

    &.side-nav-open {
      .Layout__containerWithSideNav__sideNavWrapper {
        --SideNav-translate-x: 0;
      }
    }

    &.side-nav-open-trigger {
      .Layout__containerWithSideNav__sideNavWrapper {
        transform: translateX(0);
      }
    }
  }
}

.ComponentContainer {
  border-bottom: 1px solid var(--color-gray-30);
  padding-bottom: 1.5rem;
}

.ComponentExamplesContainer {
  margin-bottom: 1.5rem;

  & > * {
    margin-bottom: 1rem;
    max-width: 30rem;
  }

  .IconButton {
    margin-bottom: 1rem;
  }
}

.DetailsTableContainer {
  position: relative;
  overflow: auto;
  margin-top: 2rem;
}

.TableNoteContainer {
  margin-top: 1rem;
}
