.Layout__content {
  .Layout__inset {
    & > * {
      margin-bottom: 2rem;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-text);
  margin-top: 2rem;

  th {
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: var(--color-note);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 1.0625rem;
  }

  thead,
  tr:not(:last-child) {
    border-bottom: 1px solid var(--color-background-off);
  }

  th,
  td {
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;

    label {
      margin-bottom: 0;
    }
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }

  th:last-child:not(:first-child),
  td:last-child:not(:first-child) {
    padding-right: 0;
    text-align: right;
  }

  td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    word-break: break-word;
    vertical-align: middle;

    a {
      display: block;
    }
  }
}

// REMOVE
.item-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (min-width: 1100px) {
    grid-template-columns: 1fr 1fr;
  }
}

.item-container-dark {
  .item-wrapper {
    background-color: var(--color-background-contrast);
  }
}

.item-wrapper {
  background-color: var(--color-background-off);
  padding: 3rem 2rem;
  display: flex;
  justify-content: center;

  &.inline {
    align-items: center;

    & > * {
      margin-right: 1rem;
    }
  }

  &.assets {
    svg {
      width: 2rem;
      height: 2rem;

      &.stellar {
        width: 8rem;
      }
    }
  }
}
