@mixin status-bar($bg, $border) {
  background-color: $bg;
  border-bottom: 1px solid $border;
}

.StatusBar {
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  color: var(--color-gray-80);
  font-size: 1rem;
  line-height: 1.5rem;

  &--info {
    @include status-bar(var(--color-purple-40), var(--color-purple-50));
  }

  &--success {
    @include status-bar(var(--color-green-40), var(--color-green-50));
  }

  &--error {
    @include status-bar(var(--color-red-40), var(--color-red-50));
  }

  &--warning {
    @include status-bar(var(--color-yellow-40), var(--color-yellow-50));
  }
}
