@mixin status-bar($bg, $border) {
  background-color: $bg;
  border-bottom: 1px solid $border;
}

.StatusBar {
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  color: var(--pal-text-secondary);
  font-size: 1rem;
  line-height: 1.5rem;

  &--info {
    @include status-bar(var(--pal-info-background), var(--pal-info-border));
  }

  &--success {
    @include status-bar(
      var(--pal-success-background),
      var(--pal-success-border)
    );
  }

  &--error {
    @include status-bar(var(--pal-error-background), var(--pal-error-border));
  }

  &--warning {
    @include status-bar(
      var(--pal-warning-background),
      var(--pal-warning-border)
    );
  }
}
