@use "../../utils.scss" as *;

.Card {
  --Card-color-background: var(--sds-clr-gray-01);
  --Card-padding: #{pxToRem(24px)};
  --Card-radius: #{pxToRem(8px)};

  background-color: var(--Card-color-background);
  border-radius: var(--Card-radius);
  height: 100%;
  padding: var(--Card-padding);
  width: 100%;

  &--radius-sm {
    --Card-radius: #{pxToRem(4px)};
  }

  &--primary {
    --Card-color-background: var(--sds-clr-gray-01);
  }

  &--secondary {
    --Card-color-background: var(--sds-clr-gray-03);
  }
}
