.Card {
  --Card-padding: 1.5rem;
  --Card-shadow: 0 0.5rem 1rem -0.5rem var(--color-gray-80);

  background-color: var(--color-gray-20);
  border: 1px solid var(--color-gray-30);
  border-radius: 0.5rem;
  height: 100%;
  padding: var(--Card-padding);
  width: 100%;

  &--default {
    background-color: var(--color-gray-20);
    border-color: var(--color-gray-30);
  }

  &--highlight {
    background-color: var(--color-gray-10);
    border-color: var(--color-gray-10);
  }
}
