@use "../../utils.scss" as *;

.Toggle {
  --Toggle-circle-size: #{pxToRem(12px)};
  --Toggle-circle-offset: #{pxToRem(1px)};

  display: flex;
  align-items: center;

  &__track {
    width: pxToRem(28px);
    height: pxToRem(16px);
    border-radius: var(--Toggle-circle-size);
    background-color: var(--color-gray-40);
    border: 1px solid var(--color-gray-40);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background 0.5s;

    &::after {
      display: block;
      content: "";
      width: var(--Toggle-circle-size);
      height: var(--Toggle-circle-size);
      border-radius: var(--Toggle-circle-size);
      background-color: var(--color-gray-00);
      border: 1px solid var(--color-gray-50);
      transition: all 0.4s;
      transform: translateX(var(--Toggle-circle-offset));
    }
  }

  &__input {
    display: none;

    &:checked ~ .Toggle__track {
      background-color: var(--color-purple-60);
      border-color: var(--color-purple-60);

      &::after {
        // 12 = 28 (track width) - 16 (circle size)
        --Toggle-circle-offset: #{pxToRem(12px)};
        border-color: var(--color-purple-60);
      }
    }
  }

  &--disabled .Toggle__track,
  &--disabled .Toggle__input:checked ~ .Toggle__track {
    cursor: not-allowed;
    background-color: var(--color-gray-50);
    border-color: var(--color-gray-50);

    &::after {
      background-color: var(--color-gray-40);
      border-color: var(--color-gray-50);
    }
  }
}
