@use "../../utils.scss" as *;

.Input {
  // Color
  --Input-color-background: var(--color-gray-00);
  --Input-color-border: var(--color-gray-30);
  --Input-color-border-hover: var(--color-gray-40);
  --Input-color-border-focus: var(--color-gray-50);
  --Input-color-text: var(--color-gray-80);

  // Size
  --Input-font-size: #{pxToRem(16px)};
  --Input-line-height: #{pxToRem(24px)};
  --Input-padding-vertical: #{pxToRem(8px)};
  --Input-padding-horizontal: #{pxToRem(12px)};
  --Input-gap: #{pxToRem(8px)};
  --Input-border-radius: #{pxToRem(4px)};
  --Input-note-font-size: #{pxToRem(14px)};
  --Input-note-line-height: #{pxToRem(22px)};

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--Input-gap);

  &--md {
    --Input-font-size: #{pxToRem(16px)};
    --Input-line-height: #{pxToRem(24px)};
    --Input-padding-vertical: #{pxToRem(8px)};
    --Input-padding-horizontal: #{pxToRem(12px)};
    --Input-gap: #{pxToRem(8px)};
    --Input-note-font-size: #{pxToRem(14px)};
    --Input-note-line-height: #{pxToRem(22px)};

    &.Input--pill {
      --Input-padding-horizontal: #{pxToRem(14px)};
    }

    &.Input--extra-padding {
      --Input-padding-vertical: #{pxToRem(12px)};
      --Input-padding-horizontal: #{pxToRem(16px)};
    }
  }

  &--sm {
    --Input-font-size: #{pxToRem(14px)};
    --Input-line-height: #{pxToRem(22px)};
    --Input-padding-vertical: #{pxToRem(6px)};
    --Input-padding-horizontal: #{pxToRem(10px)};
    --Input-gap: #{pxToRem(6px)};
    --Input-note-font-size: #{pxToRem(14px)};
    --Input-note-line-height: #{pxToRem(22px)};

    &.Input--pill {
      --Input-padding-horizontal: #{pxToRem(12px)};
    }

    &.Input--extra-padding {
      --Input-padding-vertical: #{pxToRem(10px)};
      --Input-padding-horizontal: #{pxToRem(14px)};
    }
  }

  &--xs {
    --Input-font-size: #{pxToRem(12px)};
    --Input-line-height: #{pxToRem(20px)};
    --Input-padding-vertical: #{pxToRem(4px)};
    --Input-padding-horizontal: #{pxToRem(8px)};
    --Input-gap: #{pxToRem(4px)};
    --Input-note-font-size: #{pxToRem(12px)};
    --Input-note-line-height: #{pxToRem(20px)};

    &.Input--pill {
      --Input-padding-horizontal: #{pxToRem(10px)};
    }

    &.Input--extra-padding {
      --Input-padding-vertical: #{pxToRem(8px)};
      --Input-padding-horizontal: #{pxToRem(12px)};
    }
  }

  &__container {
    position: relative;
    font-family: var(--font-family-base);
    background-color: var(--Input-color-background);
    border: 1px solid var(--Input-color-border);
    color: var(--Input-color-text);
    border-radius: var(--Input-border-radius);
    transition: border-color var(--anim-transition-default);

    input {
      display: block;
      width: 100%;
      color: currentColor;
      border: none;
      background-color: transparent;
      overflow: hidden;
      border-radius: var(--Input-border-radius);
      padding: var(--Input-padding-vertical) var(--Input-padding-horizontal);
      font-size: var(--Input-font-size);
      line-height: var(--Input-line-height);

      // Remove spinners (up and down arrows) from number inputs
      &[type="number"]::-webkit-inner-spin-button,
      &[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:focus-visible {
        outline: 1px solid var(--Input-color-border-focus);
        border-color: transparent;
      }

      &::placeholder {
        color: var(--color-gray-60);
      }
    }

    @media (hover: hover) {
      &:hover {
        border-color: var(--Input-color-border-hover);
      }
    }
  }

  &__side-element {
    color: currentColor;
    position: absolute;
    top: var(--Input-padding-vertical);
    bottom: var(--Input-padding-vertical);
    right: var(--Input-padding-horizontal);
    font-size: var(--Input-font-size);
    line-height: var(--Input-line-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg {
      fill: currentColor;
      width: var(--Input-font-size);
      height: var(--Input-font-size);
    }
  }

  &--error {
    --Input-color-background: var(--color-red-20);
    --Input-color-border: var(--color-red-60);
    --Input-color-text: var(--color-gray-80);

    .Input__container {
      input {
        &:focus-visible {
          --Input-color-border-focus: var(--color-red-70);
        }
      }

      @media (hover: hover) {
        &:hover {
          --Input-color-border-hover: var(--color-red-50);
        }
      }
    }
  }

  &--disabled {
    --Input-color-background: var(--color-gray-40);
    --Input-color-border: var(--color-gray-40);
    --Input-color-text: var(--color-gray-60);

    input {
      cursor: not-allowed;
    }
  }

  &--pill {
    --Input-border-radius: var(--Input-line-height);
  }

  .FieldNote {
    font-size: var(--Input-note-font-size);
    line-height: var(--Input-note-line-height);
  }
}
