@use "../../mixins.scss";

.ToggleDarkMode {
  --ToggleDarkMode-size: 3rem;
  --ToggleDarkMode-icon-size: 1.2rem;

  cursor: pointer;
  width: var(--ToggleDarkMode-size);
  height: var(--ToggleDarkMode-size);
  border-radius: calc(var(--ToggleDarkMode-size) / 2);
  flex-shrink: 0;
  border: none;
  padding: 0;
  margin: 0;
  background-color: var(--pal-background-primary);
  border: 1px solid var(--pal-border-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity var(--anim-transition-default);

  svg {
    width: var(--ToggleDarkMode-icon-size);
    height: var(--ToggleDarkMode-icon-size);
    @include mixins.svg-color(var(--pal-text-secondary));
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--opacity-disabled-button);
  }
}
