@use "../../mixins.scss";

@mixin SvgIcon($color) {
  .ButtonIcon {
    svg {
      @include mixins.svg-color($color);
    }
  }
}

.Button {
  --Button-color-text: transparent;
  --Button-color-background: transparent;
  --Button-color-border: transparent;

  font-size: var(--font-size);
  line-height: 1.56rem;
  padding: 0.6rem 1.5rem;
  font-weight: var(--font-weight-medium);
  border-radius: 0.125rem;
  border: 1px solid var(--Button-color-border);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--Button-color-background);
  color: var(--Button-color-text);
  transition: background-color var(--anim-transition-default);

  &--small {
    font-size: var(--font-size-secondary);
    line-height: 1.5rem;
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-weight-medium);
  }

  &--primary {
    --Button-color-background: var(--color-purple-60);
    --Button-color-text: var(--color-white);
    --Button-color-border: var(--color-purple-60);

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-purple-70);
      }
    }
  }

  &--secondary {
    --Button-color-background: var(--color-gray-10);
    --Button-color-text: var(--color-purple-70);
    --Button-color-border: var(--color-purple-70);

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-purple-60);
        color: var(--color-white);

        @include SvgIcon(var(--color-white));
      }
    }
  }

  &--tertiary {
    --Button-color-background: var(--color-gray-10);
    --Button-color-text: var(--color-gray-90);
    --Button-color-border: var(--color-gray-30);

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-gray-20);
      }
    }
  }

  &--full-width {
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--opacity-disabled-button);

    @media (hover: hover) {
      &:hover {
        background-color: var(--Button-color-background);
        color: var(--Button-color-text);

        @include SvgIcon(var(--Button-color-text));
      }
    }
  }

  @include SvgIcon(var(--Button-color-text));

  .Loader {
    --Loader-color: var(--Button-color-text);
    margin-left: 0.5rem;
  }
}
