.Button {
  font-size: 1rem;
  line-height: 1.56rem;
  padding: 0.6rem 1.5rem;
  font-weight: var(--font-weight-medium);
  border-radius: 0.125rem;
  border: 1px solid var(--color-accent);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--Button-color-background);
  color: var(--Button-color-text);

  &--primary {
    --Button-color-background: var(--color-accent);
    --Button-color-text: var(--color-text-contrast);

    box-shadow: 0 0.5rem 1rem -0.5rem var(--color-shadow);

    &:hover {
      background-color: var(--color-accent-off);
    }
  }

  &--secondary {
    --Button-color-background: var(--color-background-main);
    --Button-color-text: var(--color-accent);

    box-shadow: none;

    &:hover {
      background-color: var(--color-background-off);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;

    &:hover {
      background-color: var(--Button-color-background);
    }
  }

  .ButtonIcon {
    svg {
      fill: var(--Button-color-text);
    }
  }
}
