@use "../../utils.scss" as *;

// State
@mixin buttonState() {
  @media (hover: hover) {
    &:hover {
      color: var(--Button-color-text-hover);
      background-color: var(--Button-color-background-hover);
      border-color: var(--Button-color-border-hover);
    }
  }

  &:active {
    color: var(--Button-color-text-active);
    background-color: var(--Button-color-background-active);
    border-color: var(--Button-color-border-active);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--Button-color-text-disabled);
    background-color: var(--Button-color-background-disabled);
    border-color: var(--Button-color-border-disabled);
  }
}

.Button {
  // Variables
  --Button-color-text-default: var(--color-white);
  --Button-color-background-default: var(--color-purple-50);
  --Button-color-border-default: var(--color-purple-50);

  --Button-color-text-hover: var(--color-white);
  --Button-color-background-hover: var(--color-purple-50);
  --Button-color-border-hover: var(--color-purple-50);

  --Button-color-text-active: var(--color-white);
  --Button-color-background-active: var(--color-purple-50);
  --Button-color-border-active: var(--color-purple-50);

  --Button-color-text-disabled: var(--color-white);
  --Button-color-background-disabled: var(--color-purple-50);
  --Button-color-border-disabled: var(--color-purple-50);

  --Button-font-size: #{pxToRem(16px)};
  --Button-line-height: #{pxToRem(24px)};
  --Button-gap: #{pxToRem(8px)};
  --Button-padding-vertical: #{pxToRem(6px)};
  --Button-padding-horizontal: #{pxToRem(12px)};

  // Base
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-medium);
  border: 1px solid var(--Button-color-border-default);
  color: var(--Button-color-text-default);
  background-color: var(--Button-color-background-default);
  border-radius: pxToRem(4px);
  cursor: pointer;
  transition: color var(--anim-transition-default),
    background-color var(--anim-transition-default),
    border-color var(--anim-transition-default);

  font-size: var(--Button-font-size);
  line-height: var(--Button-line-height);
  gap: var(--Button-gap);
  padding: var(--Button-padding-vertical) var(--Button-padding-horizontal);

  // Icon
  &__icon {
    width: var(--Button-font-size);
    height: var(--Button-font-size);
    display: block;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: currentColor;
    }
  }

  .Loader {
    --Loader-size: var(--Button-font-size);
  }

  // Variant
  &--primary {
    --Button-color-text-default: var(--color-white);
    --Button-color-background-default: var(--color-purple-60);
    --Button-color-border-default: var(--color-purple-60);

    --Button-color-text-hover: var(--color-white);
    --Button-color-background-hover: var(--color-purple-70);
    --Button-color-border-hover: var(--color-purple-70);

    --Button-color-text-active: var(--color-gray-00);
    --Button-color-background-active: var(--color-purple-80);
    --Button-color-border-active: var(--color-purple-80);

    --Button-color-text-disabled: var(--color-purple-70);
    --Button-color-background-disabled: var(--color-purple-50);
    --Button-color-border-disabled: var(--color-purple-50);

    @include buttonState();
  }

  &--secondary {
    --Button-color-text-default: var(--color-gray-90);
    --Button-color-background-default: var(--color-gray-20);
    --Button-color-border-default: var(--color-gray-30);

    --Button-color-text-hover: var(--color-gray-90);
    --Button-color-background-hover: var(--color-gray-30);
    --Button-color-border-hover: var(--color-gray-40);

    --Button-color-text-active: var(--color-gray-90);
    --Button-color-background-active: var(--color-gray-40);
    --Button-color-border-active: var(--color-gray-50);

    --Button-color-text-disabled: var(--color-gray-70);
    --Button-color-background-disabled: var(--color-gray-50);
    --Button-color-border-disabled: var(--color-gray-50);

    @include buttonState();
  }

  &--tertiary {
    --Button-color-text-default: var(--color-gray-00);
    --Button-color-background-default: var(--color-gray-90);
    --Button-color-border-default: var(--color-gray-80);

    --Button-color-text-hover: var(--color-gray-00);
    --Button-color-background-hover: var(--color-gray-80);
    --Button-color-border-hover: var(--color-gray-70);

    --Button-color-text-active: var(--color-gray-30);
    --Button-color-background-active: var(--color-gray-80);
    --Button-color-border-active: var(--color-gray-60);

    --Button-color-text-disabled: var(--color-gray-50);
    --Button-color-background-disabled: var(--color-gray-70);
    --Button-color-border-disabled: var(--color-gray-70);

    @include buttonState();
  }

  &--destructive {
    --Button-color-text-default: var(--color-white);
    --Button-color-background-default: var(--color-red-60);
    --Button-color-border-default: var(--color-red-50);

    --Button-color-text-hover: var(--color-white);
    --Button-color-background-hover: var(--color-red-70);
    --Button-color-border-hover: var(--color-red-50);

    --Button-color-text-active: var(--color-gray-00);
    --Button-color-background-active: var(--color-red-80);
    --Button-color-border-active: var(--color-red-50);

    --Button-color-text-disabled: var(--color-red-70);
    --Button-color-background-disabled: var(--color-red-50);
    --Button-color-border-disabled: var(--color-red-50);

    @include buttonState();
  }

  &--error {
    --Button-color-text-default: var(--color-red-60);
    --Button-color-background-default: var(--color-red-10);
    --Button-color-border-default: var(--color-red-30);

    --Button-color-text-hover: var(--color-red-60);
    --Button-color-background-hover: var(--color-red-20);
    --Button-color-border-hover: var(--color-red-40);

    --Button-color-text-active: var(--color-red-60);
    --Button-color-background-active: var(--color-red-30);
    --Button-color-border-active: var(--color-red-50);

    --Button-color-text-disabled: var(--color-red-40);
    --Button-color-background-disabled: var(--color-red-10);
    --Button-color-border-disabled: var(--color-red-30);

    @include buttonState();
  }

  &--success {
    --Button-color-text-default: var(--color-green-60);
    --Button-color-background-default: var(--color-green-10);
    --Button-color-border-default: var(--color-green-30);

    --Button-color-text-hover: var(--color-green-60);
    --Button-color-background-hover: var(--color-green-20);
    --Button-color-border-hover: var(--color-green-40);

    --Button-color-text-active: var(--color-green-60);
    --Button-color-background-active: var(--color-green-30);
    --Button-color-border-active: var(--color-green-50);

    --Button-color-text-disabled: var(--color-green-40);
    --Button-color-background-disabled: var(--color-green-10);
    --Button-color-border-disabled: var(--color-green-30);

    @include buttonState();
  }

  // Size
  &--md {
    --Button-font-size: #{pxToRem(16px)};
    --Button-line-height: #{pxToRem(24px)};
    --Button-gap: #{pxToRem(7px)};
    --Button-padding-vertical: #{pxToRem(8px)};
    --Button-padding-horizontal: #{pxToRem(12px)};

    &.Button--pill {
      --Button-padding-horizontal: #{pxToRem(14px)};
    }

    &.Button--extra-padding {
      --Button-padding-vertical: #{pxToRem(12px)};
      --Button-padding-horizontal: #{pxToRem(16px)};
    }
  }

  &--sm {
    --Button-font-size: #{pxToRem(14px)};
    --Button-line-height: #{pxToRem(22px)};
    --Button-gap: #{pxToRem(7px)};
    --Button-padding-vertical: #{pxToRem(6px)};
    --Button-padding-horizontal: #{pxToRem(10px)};

    &.Button--pill {
      --Button-padding-horizontal: #{pxToRem(12px)};
    }

    &.Button--extra-padding {
      --Button-padding-vertical: #{pxToRem(10px)};
      --Button-padding-horizontal: #{pxToRem(14px)};
    }
  }

  &--xs {
    --Button-font-size: #{pxToRem(12px)};
    --Button-line-height: #{pxToRem(20px)};
    --Button-gap: #{pxToRem(6px)};
    --Button-padding-vertical: #{pxToRem(4px)};
    --Button-padding-horizontal: #{pxToRem(8px)};

    &.Button--pill {
      --Button-padding-horizontal: #{pxToRem(10px)};
    }

    &.Button--extra-padding {
      --Button-padding-vertical: #{pxToRem(8px)};
      --Button-padding-horizontal: #{pxToRem(12px)};
    }
  }

  // Custom
  &--uppercase {
    text-transform: uppercase;
  }

  &--full-width {
    width: 100%;
  }

  &--pill {
    border-radius: var(--Button-line-height);
  }

  // Loader
  .Loader {
    --Loader-color: currentColor;
  }
}
