.Details {
  &__example__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;

    .Details__example__container {
      flex-direction: column;

      .ElementCode {
        .ElementCode__line-number {
          display: none;
        }

        pre {
          text-align: center;
        }
      }
    }

    .Details__example__details {
      flex: 1;
      align-items: center;
      padding-top: 2rem;
      padding-bottom: 2rem;

      svg {
        width: 100%;
        height: 2rem;
      }
    }

    .Details__example__code {
      overflow: hidden;
    }
  }

  &__example__container {
    display: flex;
  }

  &__example__details {
    background-color: var(--color-background-secondary);
    padding: 1rem;
    flex: 0.5;
    display: flex;
    flex-direction: column;
  }

  &__example__component {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  &__example__code {
    background-color: rgb(42, 39, 52);
    flex: 0.5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    justify-content: center;
  }
}
