.Details {
  &__example {
    --Details-example-container-radius: 0.25rem;

    &__container {
      display: block;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      @media (min-width: 900px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
      }
    }

    &__details {
      background-color: var(--color-gray-10);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      border-top-left-radius: var(--Details-example-container-radius);
      border-top-right-radius: var(--Details-example-container-radius);

      @media (min-width: 900px) {
        border-radius: var(--Details-example-container-radius);
      }
    }

    &__component {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }

    &__code {
      background-color: #292d3e;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      overflow-x: auto;
      justify-content: center;
      border-bottom-left-radius: var(--Details-example-container-radius);
      border-bottom-right-radius: var(--Details-example-container-radius);

      @media (min-width: 900px) {
        border-radius: var(--Details-example-container-radius);
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    gap: 1rem;

    &__container {
      background-color: var(--color-gray-20);
      border-radius: var(--Details-example-container-radius);
      height: 10rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    &__icon {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem 1rem;

      svg {
        width: auto;
        height: 1.5rem;
        fill: var(--color-gray-90);
      }
    }

    &__title {
      padding: 1rem;
      padding-top: 0;
      padding-bottom: 1.5rem;
      text-align: center;
      color: var(--color-gray-70);
      font-size: var(--font-size-secondary);
    }
  }
}

td {
  code {
    word-break: normal;
  }

  &.Table__props {
    max-width: 18.75rem;

    code {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}
