.TableContainer {
  width: 100%;
  position: relative;

  &--loading {
    opacity: var(--opacity-disabled-button);
    pointer-events: none;
    overflow-y: hidden;

    .Loader {
      --Loader-color: var(--pal-brand-primary);

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.TableWrapper {
  overflow-x: auto;
}

@mixin tableBreakpoint($bp) {
  &[data-breakpoint="#{$bp}"] {
    min-width: #{$bp}px;

    th {
      @media (min-width: #{$bp}px) {
        padding-top: 0;
      }
    }

    th:first-child,
    td:first-child {
      @media (max-width: #{$bp}px) {
        // Sticky first column
        &:not(:last-child) {
          background-color: var(--pal-background-secondary);
          left: 0;
          position: sticky;
          padding-left: 1rem;
          box-shadow: 0 0 0.5rem rgba(var(--pal-shadow-rbg), 0.48);
          clip-path: inset(0 -0.5rem 0 0);
        }
      }
    }
  }
}

table.Table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--font-size-secondary);
  line-height: 1.5rem;
  color: var(--pal-text-primary);
  color: var(--pal-text-secondary);

  th {
    line-height: 1.125rem;
    color: var(--pal-text-primary);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    text-align: left;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
  }

  thead,
  tr:not(:last-child) {
    border-bottom: 1px solid var(--pal-border-primary);
  }

  th,
  td {
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;

    label {
      margin-bottom: 0;
    }
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }

  @include tableBreakpoint(900);
  @include tableBreakpoint(800);
  @include tableBreakpoint(700);
  @include tableBreakpoint(600);
  @include tableBreakpoint(500);
  @include tableBreakpoint(400);
  @include tableBreakpoint(300);

  td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    word-break: break-word;
    vertical-align: middle;
  }

  th:last-child:not(:first-child),
  td:last-child:not(:first-child) {
    padding-right: 0;
    text-align: right;
  }

  th:first-child:not(:last-child),
  td:first-child:not(:last-child) {
    z-index: 1;
  }

  &__clickableRow {
    cursor: pointer;
  }
}

.SortableTable {
  td:not(:first-child):not(:nth-child(2)) {
    text-align: right;
  }

  th {
    .SortableTable__sortableCell {
      cursor: pointer;
      position: relative;
      display: inline-block;
      padding-right: 1.5rem;
      user-select: none;

      &__icon {
        right: 0;
      }
    }

    &:not(:first-child):not(:nth-child(2)) {
      text-align: right;

      .SortableTable__sortableCell {
        padding-right: 0;
        padding-left: 1.5rem;

        &__icon {
          left: 0;
        }
      }
    }
  }

  &__sortableCell__icon {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    svg {
      stroke: currentColor;
      width: 100%;
      height: 100%;
    }
  }
}
