.CopyText {
  &--inline {
    display: inline-block;
  }

  &--ellipsis {
    display: block;
    position: absolute;
    width: 100%;

    .CopyText__content {
      display: block;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__content {
    cursor: pointer;
    opacity: 1;
    transition: opacity var(--sds-anim-transition-default);
    display: inline-flex;
    align-items: center;
  }
}
