.CopyText {
  display: inline-block;

  &__content {
    cursor: pointer;
    opacity: 1;
    transition: opacity var(--anim-transition-default);
    display: inline-flex;
    align-items: center;
  }
}
