.Layout {
  &__inset {
    --Layout-inset-padding-horizontal: 1rem;

    position: relative;
    margin: 0 auto;
    padding-left: var(--Layout-inset-padding-horizontal);
    padding-right: var(--Layout-inset-padding-horizontal);
    max-width: var(--layout-window-width-max);
    width: 100%;

    @media (min-width: 600px) {
      --Layout-inset-padding-horizontal: 3rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: stretch;
  }

  &__header {
    --Layout-header-padding-vertical: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--Layout-header-padding-vertical);
    padding-bottom: var(--Layout-header-padding-vertical);

    @media (min-width: 600px) {
      --Layout-header-padding-vertical: 3rem;
    }

    .Layout__inset {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      flex-wrap: wrap;

      & > div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .NavButton {
      margin-right: -0.8rem;
    }

    &--left {
      justify-content: flex-start;
    }

    &--center {
      justify-content: center;
      flex-grow: 1;

      @media (max-width: 900px) {
        min-width: 100%;
        order: 1;
      }
    }

    &--right {
      justify-content: flex-end;
    }
  }

  // In footer
  &__rightSide--inline {
    display: flex;
    align-items: center;

    & > * {
      margin-left: 0.5rem;
    }

    // Text links need a bit more spacing
    .TextLink:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__footer {
    --Layout-footer-padding-top: 1rem;
    --Layout-footer-padding-bottom: 1rem;
    --Layout-footer-margin-top: 3rem;
    --Layout-footer-border-color: var(--pal-border-primary);

    margin-top: var(--Layout-footer-margin-top);

    @media (min-width: 600px) {
      --Layout-footer-padding-top: 1.5rem;
      --Layout-footer-padding-bottom: 3rem;
      --Layout-footer-margin-top: 6rem;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: var(--Layout-footer-padding-top);
      padding-bottom: var(--Layout-footer-padding-bottom);
      border-top: 1px solid var(--Layout-footer-border-color);
    }

    &__legal {
      & > *:first-child {
        margin-right: 1.5rem;
      }
    }
  }
}
