.ComponentsList {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.ComponentCard {
  border: 1px solid var(--color-gray-30);
  background-color: var(--color-gray-10);
  overflow: hidden;
  height: 8rem;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: border-color var(--anim-transition-default);

  @media (hover: hover) {
    &:hover {
      border-color: var(--color-gray-40);
    }
  }

  &__title {
    font-weight: var(--font-weight-medium);
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    color: var(--color-gray-90);

    svg {
      width: 1rem;
      height: 1rem;
      stroke: var(--color-gray-90);
      margin-left: 0.4rem;
    }
  }
}
