.PreviewBlock {
  background-color: var(--sds-clr-base-00);
  background-image: radial-gradient(var(--sds-clr-gray-02) 10%, transparent 11%),
    radial-gradient(var(--sds-clr-gray-02) 10%, transparent 11%);
  background-size: 12px 12px;
  background-position: 0 0, 12px 12px;
  background-repeat: repeat;
  padding: 1.5rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: 1px solid var(--sds-clr-gray-05);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.PreviewBlock__block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Selects */
.PreviewBlock__selects__content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  flex: 1;
}

.PreviewBlock__selects__content > *,
.PreviewBlock__checkbox__content > * {
  flex-shrink: 0;
}

.PreviewBlock__selects__content .Select {
  width: 9rem;
}

/* Checkboxes */
.PreviewBlock__checkboxes__content {
  border: 1px solid var(--sds-clr-gray-05);
  background-color: var(--sds-clr-base-00);
  border-radius: 0.25rem;
  padding: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
  width: fit-content;
  color: var(--sds-clr-gray-11);
}

.PreviewBlock__component {
  min-height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sds-clr-gray-11);
}

@media (max-width: 600px) {
  .PreviewBlock__checkboxes__content,
  .PreviewBlock__selects__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .PreviewBlock__checkboxes__content {
    width: auto;
  }

  .PreviewBlock__selects__content .Select {
    width: auto;
  }
}

/* ========================================================================== */
/* SDS overrides
/* ========================================================================== */
.PreviewBlock .Link--underline {
  text-decoration: underline !important;
}

.PreviewBlock .Heading,
.PreviewBlock .Caption,
.PreviewBlock .Paragraph,
.PreviewBlock .Title {
  color: var(--sds-clr-gray-12);
}

.PreviewBlock .Heading {
  margin: 0 !important;
}

.PreviewBlock .Input,
.PreviewBlock .Select,
.PreviewBlock .Textarea {
  max-width: 24rem;
}

.PreviewBlock .Checkbox__container label {
  font-weight: var(--sds-fw-regular);
}

.PreviewBlock .Modal {
  z-index: 1000;
}

.PreviewBlock .Layout__header,
.PreviewBlock .Layout__footer {
  width: 100%;
}

.PreviewBlock .Table thead {
  background-color: transparent;
}

.PreviewBlock .Table thead tr {
  border-bottom: none;
}

.PreviewBlock .Table tr {
  background: none;
  border-top: none;
}

.PreviewBlock .Table th {
  background: none;
  border: none;
}

.PreviewBlock .Table td {
  color: var(--sds-clr-gray-11);
  border: none;
}
