@use "../../mixins.scss";

.TextLink {
  --TextLink-color-text: transparent;

  color: var(--TextLink-color-text);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: bottom;
  transition: color var(--anim-transition-default);

  &--primary {
    --TextLink-color-text: var(--pal-text-link);

    @media (hover: hover) {
      &:hover {
        --TextLink-color-text: var(--pal-text-link-hover);

        &.TextLink--underline {
          --TextLink-color-text: var(--pal-text-link);
        }

        &.TextLink--disabled {
          --TextLink-color-text: var(--pal-brand-primary);
        }
      }
    }
  }

  &--secondary {
    --TextLink-color-text: var(--pal-text-primary);

    @media (hover: hover) {
      &:hover {
        --TextLink-color-text: var(--pal-text-secondary);

        &.TextLink--underline {
          --TextLink-color-text: var(--pal-text-primary);
        }

        &.TextLink--disabled {
          --TextLink-color-text: var(--pal-text-primary);
        }
      }
    }
  }

  &--underline {
    text-decoration: underline;

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: var(--opacity-disabled-button);

    &.TextLink--underline {
      text-decoration: underline;
    }
  }

  .ButtonIcon {
    --ButtonIcon-gap: 0.25rem;

    svg {
      transition: fill var(--anim-transition-default),
        stroke var(--anim-transition-default);
      @include mixins.svg-color(var(--TextLink-color-text));
    }
  }

  .Loader {
    --Loader-color: var(--TextLink-color-text);
    margin-left: 0.5rem;
  }
}
