.NavButton {
  --NavButton-size: 3rem;
  --NavButton-icon-size: 1.2rem;

  cursor: pointer;
  width: var(--NavButton-size);
  height: var(--NavButton-size);
  border-radius: calc(var(--NavButton-size) / 2);
  flex-shrink: 0;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity var(--anim-transition-default);

  &--border {
    border-color: var(--color-gray-30);
  }

  svg {
    width: var(--NavButton-icon-size);
    height: var(--NavButton-icon-size);
    stroke: var(--color-gray-80);
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--opacity-disabled-button);
  }
}
