@use "../../utils.scss" as *;

.RadioButton {
  // Color
  --RadioButton-color-background: var(--sds-clr-gray-01);
  --RadioButton-color-border: var(--sds-clr-gray-06);
  --RadioButton-color-icon: var(--sds-clr-gray-01);

  // Size
  --RadioButton-size: #{pxToRem(16px)};
  --RadioButton-icon-size: #{pxToRem(8px)};
  --RadioButton-horizontal-gap: #{pxToRem(8px)};
  --RadioButton-font-size: #{pxToRem(14px)};
  --RadioButton-line-height: #{pxToRem(22px)};

  display: flex;
  align-items: center;
  position: relative;
  gap: var(--RadioButton-horizontal-gap);

  @media (hover: hover) {
    &:hover {
      input[type="radio"] {
        & + label {
          --RadioButton-color-border: var(--sds-clr-gray-06);
        }
      }
    }
  }

  &--md {
    --RadioButton-size: #{pxToRem(18px)};
    --RadioButton-icon-size: #{pxToRem(10px)};
    --RadioButton-font-size: #{pxToRem(16px)};
    --RadioButton-line-height: #{pxToRem(24px)};
  }

  &--sm {
    --RadioButton-size: #{pxToRem(16px)};
    --RadioButton-icon-size: #{pxToRem(8px)};
    --RadioButton-font-size: #{pxToRem(14px)};
    --RadioButton-line-height: #{pxToRem(22px)};
  }

  &--xs {
    --RadioButton-size: #{pxToRem(14px)};
    --RadioButton-icon-size: #{pxToRem(6px)};
    --RadioButton-font-size: #{pxToRem(12px)};
    --RadioButton-line-height: #{pxToRem(20px)};
  }

  input[type="radio"] {
    opacity: 0;
    position: absolute;
    z-index: -1;

    &:checked + label {
      --RadioButton-color-background: var(--sds-clr-lilac-09);
      --RadioButton-color-border: var(--sds-clr-lilac-09);

      span::before {
        opacity: 1;
      }
    }

    &:disabled + label {
      --RadioButton-color-background: var(--sds-clr-gray-04);
      --RadioButton-color-border: var(--sds-clr-gray-06);
      cursor: not-allowed;
    }

    &:checked:disabled + label {
      --RadioButton-color-background: var(--sds-clr-gray-04);
      --RadioButton-color-border: var(--sds-clr-gray-06);
      --RadioButton-color-icon: var(--sds-clr-gray-09);
      cursor: not-allowed;
    }
  }

  label {
    font-size: var(--RadioButton-font-size);
    line-height: var(--RadioButton-line-height);
    font-weight: var(--sds-fw-medium);
    flex: 1;
    position: relative;
    display: flex;
    gap: var(--RadioButton-horizontal-gap);

    & > span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--RadioButton-size);
      height: var(--RadioButton-size);
      flex-shrink: 0;
      border: 1px solid var(--RadioButton-color-border);
      background-color: var(--RadioButton-color-background);
      border-radius: calc(var(--RadioButton-size) / 2);
      margin-top: calc(
        (var(--RadioButton-line-height) - var(--RadioButton-size)) / 2
      );
      transition: background-color var(--sds-anim-transition-default),
        border-color var(--sds-anim-transition-default);

      &::before {
        display: block;
        content: "";
        opacity: 0;
        width: var(--RadioButton-icon-size);
        height: var(--RadioButton-icon-size);
        border-radius: calc(var(--RadioButton-icon-size) / 2);
        background-color: var(--RadioButton-color-icon);
      }
    }
  }
}
