@use "../../mixins.scss";

.RadioButton {
  display: flex;
  align-items: center;

  @include mixins.checkbox-radio-base-selectors("radio");

  label {
    @include mixins.checkbox-radio-label;

    &::before,
    &::after {
      flex-shrink: 0;
      flex-grow: 0;
    }

    &::before {
      @include mixins.checkbox-radio-container;
      border-radius: 1rem;
    }
  }

  &__icon {
    @include mixins.checkbox-radio-icon-container;

    span {
      @include mixins.checkbox-radio-icon-wrapper;

      &::after {
        content: "";
        display: block;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 0.4rem;
        background-color: var(--color-background-input);
      }
    }
  }

  &--disabled {
    @include mixins.checkbox-radio-disabled;
  }
}
