@use "../../utils.scss" as *;

.Select {
  // Color
  --Select-color-background: var(--color-gray-00);
  --Select-color-background-option: var(--color-gray-00);
  --Select-color-border: var(--color-gray-30);
  --Select-color-border-hover: var(--color-gray-40);
  --Select-color-border-focus: var(--color-gray-50);
  --Select-color-text: var(--color-gray-80);

  // Size
  --Select-font-size: #{pxToRem(16px)};
  --Select-line-height: #{pxToRem(24px)};
  --Select-padding-vertical: #{pxToRem(8px)};
  --Select-padding-horizontal: #{pxToRem(12px)};
  --Select-gap: #{pxToRem(8px)};
  --Select-border-radius: #{pxToRem(4px)};
  --Select-note-font-size: #{pxToRem(14px)};
  --Select-note-line-height: #{pxToRem(22px)};

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--Select-gap);

  &--md {
    --Select-font-size: #{pxToRem(16px)};
    --Select-line-height: #{pxToRem(24px)};
    --Select-padding-vertical: #{pxToRem(8px)};
    --Select-padding-horizontal: #{pxToRem(12px)};
    --Select-gap: #{pxToRem(8px)};
    --Select-note-font-size: #{pxToRem(14px)};
    --Select-note-line-height: #{pxToRem(22px)};

    &.Select--pill {
      --Select-padding-horizontal: #{pxToRem(14px)};
    }

    &.Select--extra-padding {
      --Select-padding-vertical: #{pxToRem(12px)};
      --Select-padding-horizontal: #{pxToRem(16px)};
    }
  }

  &--sm {
    --Select-font-size: #{pxToRem(14px)};
    --Select-line-height: #{pxToRem(22px)};
    --Select-padding-vertical: #{pxToRem(6px)};
    --Select-padding-horizontal: #{pxToRem(10px)};
    --Select-gap: #{pxToRem(6px)};
    --Select-note-font-size: #{pxToRem(14px)};
    --Select-note-line-height: #{pxToRem(22px)};

    &.Select--pill {
      --Select-padding-horizontal: #{pxToRem(12px)};
    }

    &.Select--extra-padding {
      --Select-padding-vertical: #{pxToRem(10px)};
      --Select-padding-horizontal: #{pxToRem(14px)};
    }
  }

  &--xs {
    --Select-font-size: #{pxToRem(12px)};
    --Select-line-height: #{pxToRem(20px)};
    --Select-padding-vertical: #{pxToRem(4px)};
    --Select-padding-horizontal: #{pxToRem(8px)};
    --Select-gap: #{pxToRem(4px)};
    --Select-note-font-size: #{pxToRem(12px)};
    --Select-note-line-height: #{pxToRem(20px)};

    &.Select--pill {
      --Select-padding-horizontal: #{pxToRem(10px)};
    }

    &.Select--extra-padding {
      --Select-padding-vertical: #{pxToRem(8px)};
      --Select-padding-horizontal: #{pxToRem(12px)};
    }
  }

  &__container {
    position: relative;
    font-family: var(--sds-ff-base);
    background-color: var(--Select-color-background);
    border: 1px solid var(--Select-color-border);
    color: var(--Select-color-text);
    border-radius: var(--Select-border-radius);
    transition: border-color var(--sds-anim-transition-default);

    select {
      appearance: none;
      display: block;
      width: 100%;
      color: currentColor;
      border: none;
      background-color: transparent;
      overflow: hidden;
      border-radius: var(--Select-border-radius);
      padding: var(--Select-padding-vertical) var(--Select-padding-horizontal);
      font-size: var(--Select-font-size);
      line-height: var(--Select-line-height);

      option {
        background-color: var(--Select-color-background-option);
        color: var(--Select-color-text);
      }

      &:focus-visible {
        outline: 1px solid var(--Select-color-border-focus);
        border-color: transparent;
      }
    }

    @media (hover: hover) {
      &:hover {
        border-color: var(--Select-color-border-hover);
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: calc(var(--Select-font-size) + pxToRem(4px));
    height: 100%;
    top: 0;
    right: var(--Select-padding-horizontal);
    pointer-events: none;

    svg {
      stroke: currentColor;
      width: 100%;
      height: 100%;
    }
  }

  &--error {
    --Select-color-background: var(--color-red-20);
    --Select-color-border: var(--color-red-60);
    --Select-color-text: var(--color-gray-80);

    .Select__container {
      select {
        &:focus-visible {
          --Select-color-border-focus: var(--color-red-70);
        }
      }

      @media (hover: hover) {
        &:hover {
          --Select-color-border-hover: var(--color-red-50);
        }
      }
    }
  }

  &--disabled {
    --Select-color-background: var(--color-gray-40);
    --Select-color-border: var(--color-gray-40);
    --Select-color-text: var(--color-gray-60);

    select {
      cursor: not-allowed;
    }
  }

  &--pill {
    --Select-border-radius: var(--Select-line-height);
  }

  .FieldNote {
    font-size: var(--Select-note-font-size);
    line-height: var(--Select-note-line-height);
  }
}
