name: Monthly dependency updates
on:
  schedule:
    # First of every other month
    - cron: 0 0 1 */2 *

jobs:
  create_issue:
    name: Update dependencies
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Update dependencies
        uses: imjohnbo/issue-bot@3566ae270daa53ec66142d08f571fd7c059cc324
        with:
          title: "Update dependencies"
          body: |
            Update all project dependencies.
            ```
            yarn upgrade-interactive --latest
            ```
            Make sure there are no issues in the code editor, code compiles, and it runs without issues in the browser.
          pinned: false
          close-previous: true
          labels: "design-system, dependencies"
          project: 50
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
