@mixin light-theme-palette {
  --pal-brand-primary: #3e1bdb;
  // -rgb color is needed for rgba(). Hex color CSS variable doesn't work.
  --pal-brand-primary-rgb: 62, 27, 219;
  --pal-brand-primary-hover: #241080;
  --pal-brand-primary-hover-rgb: 36, 16, 128;
  --pal-brand-primary-on: #ffffff;

  --pal-background-primary: #ffffff;
  --pal-background-secondary: #fafafa;
  --pal-background-tertiary: #f2f2f2;

  --pal-success: #20bf6b;
  --pal-success-rgb: 32, 191, 107;
  --pal-success-on: #ffffff;
  --pal-error: #eb3b5a;
  --pal-error-rgb: 235, 59, 90;
  --pal-error-on: #ffffff;
  --pal-warning: #f7b731;
  --pal-warning-rgb: 247, 183, 49;
  --pal-warning-on: #ffffff;

  --pal-text-base-rgb: 0, 0, 0;
  --pal-text-primary: rgba(var(--pal-text-base-rgb), 1);
  --pal-text-secondary: rgba(var(--pal-text-base-rgb), 0.6);
  --pal-text-tertiary: rgba(var(--pal-text-base-rgb), 0.4);
  --pal-text-link: #5332e6;
  --pal-text-link-hover: #241080;

  --pal-border-base-rgb: 0, 0, 0;
  --pal-border-primary: rgba(var(--pal-text-base-rgb), 0.08);
  --pal-border-secondary: rgba(var(--pal-text-base-rgb), 0.16);

  --pal-shadow-rbg: 0, 0, 0;

  --pal-example-details: #f2f2f2;
  --pal-example-code: #292d3e;
}

@mixin dark-theme-palette {
  --pal-brand-primary: #5332e6;
  // -rgb color is needed for rgba(). Hex color CSS variable doesn't work.
  --pal-brand-primary-rgb: 83, 50, 230;
  --pal-brand-primary-hover: #937eef;
  --pal-brand-primary-hover-rgb: 147, 126, 239;
  --pal-brand-primary-on: #ffffff;

  --pal-background-primary: #292d3e;
  --pal-background-secondary: #303448;
  --pal-background-tertiary: #222634;

  --pal-success: #26db7b;
  --pal-success-rgb: 38, 219, 123;
  --pal-success-on: #ffffff;
  --pal-error: #ee5a74;
  --pal-error-rgb: 238, 90, 116;
  --pal-error-on: #ffffff;
  --pal-warning: #f8c252;
  --pal-warning-rgb: 248, 194, 82;
  --pal-warning-on: #ffffff;

  --pal-text-base-rgb: 255, 255, 255;
  --pal-text-primary: rgba(var(--pal-text-base-rgb), 1);
  --pal-text-secondary: rgba(var(--pal-text-base-rgb), 0.6);
  --pal-text-tertiary: rgba(var(--pal-text-base-rgb), 0.4);
  --pal-text-link: #6260eb;
  --pal-text-link-hover: #937eef;

  --pal-border-base-rgb: 255, 255, 255;
  --pal-border-primary: rgba(var(--pal-text-base-rgb), 0.08);
  --pal-border-secondary: rgba(var(--pal-text-base-rgb), 0.16);

  --pal-shadow-rbg: 0, 0, 0;

  --pal-example-details: #303448;
  --pal-example-code: #222634;
}

:root {
  // Palette
  @include dark-theme-palette;

  // Font size
  --font-size: 16px;
  --font-size-secondary: 14px;

  // Font weight
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  // Font family
  --font-family-base: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: "IBM Plex Mono", Consolas, Menlo, monospace;

  // Z-index
  --z-index-tooltip: 20;
  --z-index-modal: 30;

  // Opacity
  --opacity-disabled-button: 0.6;

  // Layout
  --layout-window-width-min: 320px;
  --layout-window-width-max: 1296px;

  // Animations
  --anim-transition-default: linear 300ms;
}

body.light-mode {
  @include light-theme-palette;
}

@media (prefers-color-scheme: light) {
  :root {
    @include light-theme-palette;
  }

  body.dark-mode {
    @include dark-theme-palette;
  }
}

html,
body,
input,
textarea,
button {
  color: var(--pal-text-secondary);
}

body {
  min-height: 100vh;
  min-width: var(--layout-window-width-min);
  padding: 0;
  margin: 0;
  background-color: var(--pal-background-primary);
  overflow-x: hidden;
  transition: background-color ease-in-out 200ms;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
  }

  &.modal-open,
  &.no-body-scroll {
    overflow: hidden;
  }
}

html,
body,
input,
textarea,
button {
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-base);
  line-height: 1;
}

// Remove spinners (up and down arrows) from number inputs
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

strong,
b {
  font-weight: var(--font-weight-medium);
}

// Text block elements
p,
ul,
ol {
  font-size: 1rem;
  line-height: 1.75rem;
  margin: 0;
  color: var(--pal-text-secondary);

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

p {
  &.Paragraph--secondary {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

ul {
  padding: 0 0 0 1rem;
  list-style-type: none;
}

li {
  position: relative;
}

li::before {
  content: "-";
  position: absolute;
  left: -1rem;
}

code {
  color: inherit;
  font-family: var(--font-family-monospace);
  border-radius: 0.1875rem;
  border: 0.5px solid var(--pal-border-primary);
  background-color: var(--pal-background-secondary);
  padding: 0.125rem 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: var(--font-weight-medium);
  display: inline;

  &[data-break] {
    line-break: anywhere;
  }
}

label {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: var(--pal-text-primary);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  display: block;
}

// Page wrapper
div#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

// Generic
.error {
  color: var(--pal-error);
}

.success {
  color: var(--pal-success);
}

.warning {
  color: var(--pal-warning);
}

// Table
table.Table {
  --table-min-width: 900px;

  width: 100%;
  border-collapse: collapse;
  font-size: var(--font-size-secondary);
  line-height: 1.5rem;
  color: var(--pal-text-primary);
  min-width: var(--table-min-width);
  color: var(--pal-text-secondary);

  th {
    line-height: 1.125rem;
    color: var(--pal-text-primary);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    text-align: left;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;

    @media (min-width: 900px) {
      padding-top: 0;
    }
  }

  thead,
  tr:not(:last-child) {
    border-bottom: 1px solid var(--pal-border-primary);
  }

  th,
  td {
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;

    label {
      margin-bottom: 0;
    }
  }

  th:first-child,
  td:first-child {
    padding-left: 0;

    @media (max-width: 900px) {
      // Sticky first column
      &:not(:last-child) {
        background-color: var(--pal-background-secondary);
        left: 0;
        position: sticky;
        padding-left: 1rem;
        box-shadow: 0 0 0.5rem rgba(var(--pal-shadow-rbg), 0.48);
        clip-path: inset(0 -0.5rem 0 0);
      }
    }
  }

  th:last-child:not(:first-child),
  td:last-child:not(:first-child) {
    padding-right: 0;
    text-align: right;
  }

  td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    word-break: break-word;
    vertical-align: middle;
  }
}
