// =============================================================================
// Global styles
// =============================================================================
// TODO: Move as much of this to components as possible. We don't want to affect
// global styles on every website.
.sds-theme-light,
.sds-theme-dark {
  font-family: var(--font-family-base);
  font-size: var(--font-size);
  min-height: 100vh;
  min-width: var(--layout-window-width-min);
  padding: 0;
  margin: 0;
  background-color: var(--color-gray-00);
  transition: background-color ease-in-out 200ms;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
  }

  &.modal-open,
  &.no-body-scroll {
    overflow: hidden;
  }
}

strong,
b {
  font-weight: var(--font-weight-medium);
}

// Text block elements
p,
ul,
ol {
  font-size: 1rem;
  line-height: 1.75rem;
  margin: 0;
  color: var(--color-gray-80);

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

p {
  &.Paragraph--secondary {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

ul {
  padding: 0 0 0 1rem;
  list-style-type: none;
}

li {
  position: relative;
}

li::before {
  content: "-";
  position: absolute;
  left: -1rem;
}

code {
  color: inherit;
  font-family: var(--font-family-monospace);
  border-radius: 0.1875rem;
  border: 0.5px solid var(--color-gray-30);
  background-color: var(--color-gray-10);
  padding: 0.125em 0.25em;
  font-size: 0.875em;
  line-height: 1.5em;
  font-weight: var(--font-weight-medium);
  display: inline;

  &[data-break] {
    line-break: anywhere;
  }
}

// Page wrapper
div#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Generic
.error {
  color: var(--color-red-60);
}

.success {
  color: var(--color-green-60);
}

.warning {
  color: var(--color-yellow-60);
}
