// =============================================================================
// Color palette
// =============================================================================
@mixin theme-light {
  color-scheme: light;

  // Gray
  --sds-clr-gray-01: #fcfcfc;
  --sds-clr-gray-02: #f8f8f8;
  --sds-clr-gray-03: #f3f3f3;
  --sds-clr-gray-04: #ededed;
  --sds-clr-gray-05: #e8e8e8;
  --sds-clr-gray-06: #e2e2e2;
  --sds-clr-gray-07: #dbdbdb;
  --sds-clr-gray-08: #c7c7c7;
  --sds-clr-gray-09: #8f8f8f;
  --sds-clr-gray-10: #858585;
  --sds-clr-gray-11: #6f6f6f;
  --sds-clr-gray-12: #171717;

  // Lilac
  --sds-clr-lilac-01: #fdfcfe;
  --sds-clr-lilac-02: #fbfaff;
  --sds-clr-lilac-03: #f5f2ff;
  --sds-clr-lilac-04: #ede9fe;
  --sds-clr-lilac-05: #e4defc;
  --sds-clr-lilac-06: #d7cff9;
  --sds-clr-lilac-07: #c4b8f3;
  --sds-clr-lilac-08: #aa99ec;
  --sds-clr-lilac-09: #6e56cf;
  --sds-clr-lilac-10: #644fc1;
  --sds-clr-lilac-11: #5746af;
  --sds-clr-lilac-12: #20134b;

  // Gold
  --sds-clr-gold-01: #fdfdf9;
  --sds-clr-gold-02: #fffce8;
  --sds-clr-gold-03: #fffbd1;
  --sds-clr-gold-04: #fff8bb;
  --sds-clr-gold-05: #fef2a4;
  --sds-clr-gold-06: #f9e68c;
  --sds-clr-gold-07: #efd36c;
  --sds-clr-gold-08: #ebbc00;
  --sds-clr-gold-09: #fdda24;
  --sds-clr-gold-10: #f7ce00;
  --sds-clr-gold-11: #946800;
  --sds-clr-gold-12: #35290f;

  // Base
  --sds-clr-base-00: #ffffff;
  --sds-clr-base-01: #000000;

  // Overlay
  --sds-overlay-01: rgba(0, 0, 0, 0.1);
  --sds-overlay-02: rgba(0, 0, 0, 0.2);
  --sds-overlay-03: rgba(0, 0, 0, 0.3);
  --sds-overlay-04: rgba(0, 0, 0, 0.4);
  --sds-overlay-05: rgba(0, 0, 0, 0.5);
  --sds-overlay-06: rgba(0, 0, 0, 0.6);
  --sds-overlay-07: rgba(0, 0, 0, 0.7);
  --sds-overlay-08: rgba(0, 0, 0, 0.8);
  --sds-overlay-09: rgba(0, 0, 0, 0.9);
  --sds-overlay-10: rgba(0, 0, 0, 1);

  // Green
  --sds-clr-green-01: #fbfefc;
  --sds-clr-green-02: #f2fcf5;
  --sds-clr-green-03: #e9f9ee;
  --sds-clr-green-04: #ddf3e4;
  --sds-clr-green-05: #ccebd7;
  --sds-clr-green-06: #b4dfc4;
  --sds-clr-green-07: #92ceac;
  --sds-clr-green-08: #5bb98c;
  --sds-clr-green-09: #30a46c;
  --sds-clr-green-10: #299764;
  --sds-clr-green-11: #18794e;
  --sds-clr-green-12: #153226;

  // Amber
  --sds-clr-amber-01: #fefdfb;
  --sds-clr-amber-02: #fff9ed;
  --sds-clr-amber-03: #fff4d5;
  --sds-clr-amber-04: #ffecbc;
  --sds-clr-amber-05: #ffe3a2;
  --sds-clr-amber-06: #ffd386;
  --sds-clr-amber-07: #f3ba63;
  --sds-clr-amber-08: #ee9d2b;
  --sds-clr-amber-09: #ffb224;
  --sds-clr-amber-10: #ffa01c;
  --sds-clr-amber-11: #ad5700;
  --sds-clr-amber-12: #4e2009;

  // Red
  --sds-clr-red-01: #fffcfc;
  --sds-clr-red-02: #fff8f8;
  --sds-clr-red-03: #ffefef;
  --sds-clr-red-04: #ffe5e5;
  --sds-clr-red-05: #fdd8d8;
  --sds-clr-red-06: #f9c6c6;
  --sds-clr-red-07: #f3aeaf;
  --sds-clr-red-08: #eb9091;
  --sds-clr-red-09: #e5484d;
  --sds-clr-red-10: #dc3d43;
  --sds-clr-red-11: #cd2b31;
  --sds-clr-red-12: #381316;

  // White
  --sds-clr-white: #ffffff;
}

@mixin theme-dark {
  color-scheme: dark;

  // Gray
  --sds-clr-gray-01: #161616;
  --sds-clr-gray-02: #1c1c1c;
  --sds-clr-gray-03: #232323;
  --sds-clr-gray-04: #282828;
  --sds-clr-gray-05: #2e2e2e;
  --sds-clr-gray-06: #343434;
  --sds-clr-gray-07: #3e3e3e;
  --sds-clr-gray-08: #505050;
  --sds-clr-gray-09: #707070;
  --sds-clr-gray-10: #7e7e7e;
  --sds-clr-gray-11: #a0a0a0;
  --sds-clr-gray-12: #ededed;

  // Lilac
  --sds-clr-lilac-01: #17151f;
  --sds-clr-lilac-02: #1c172b;
  --sds-clr-lilac-03: #251e40;
  --sds-clr-lilac-04: #2c2250;
  --sds-clr-lilac-05: #32275f;
  --sds-clr-lilac-06: #392c72;
  --sds-clr-lilac-07: #443592;
  --sds-clr-lilac-08: #5842c3;
  --sds-clr-lilac-09: #6e56cf;
  --sds-clr-lilac-10: #7c66dc;
  --sds-clr-lilac-11: #9e8cfc;
  --sds-clr-lilac-12: #f1eefe;

  // Gold
  --sds-clr-gold-01: #1c1500;
  --sds-clr-gold-02: #221a00;
  --sds-clr-gold-03: #2c2100;
  --sds-clr-gold-04: #352800;
  --sds-clr-gold-05: #3e3000;
  --sds-clr-gold-06: #493c00;
  --sds-clr-gold-07: #594a05;
  --sds-clr-gold-08: #705e00;
  --sds-clr-gold-09: #fdda24;
  --sds-clr-gold-10: #ffef5c;
  --sds-clr-gold-11: #f0c000;
  --sds-clr-gold-12: #fffad1;

  // Base
  --sds-clr-base-00: #000000;
  --sds-clr-base-01: #ffffff;

  // Overlay
  --sds-overlay-01: rgba(255, 255, 255, 0.1);
  --sds-overlay-02: rgba(255, 255, 255, 0.2);
  --sds-overlay-03: rgba(255, 255, 255, 0.3);
  --sds-overlay-04: rgba(255, 255, 255, 0.4);
  --sds-overlay-05: rgba(255, 255, 255, 0.5);
  --sds-overlay-06: rgba(255, 255, 255, 0.6);
  --sds-overlay-07: rgba(255, 255, 255, 0.7);
  --sds-overlay-08: rgba(255, 255, 255, 0.8);
  --sds-overlay-09: rgba(255, 255, 255, 0.9);
  --sds-overlay-10: rgba(255, 255, 255, 1);

  // Green
  --sds-clr-green-01: #0d1912;
  --sds-clr-green-02: #0c1f17;
  --sds-clr-green-03: #0f291e;
  --sds-clr-green-04: #113123;
  --sds-clr-green-05: #133929;
  --sds-clr-green-06: #164430;
  --sds-clr-green-07: #1b543a;
  --sds-clr-green-08: #236e4a;
  --sds-clr-green-09: #30a46c;
  --sds-clr-green-10: #3cb179;
  --sds-clr-green-11: #4cc38a;
  --sds-clr-green-12: #e5fbeb;

  // Amber
  --sds-clr-amber-01: #1f1300;
  --sds-clr-amber-02: #271700;
  --sds-clr-amber-03: #341c00;
  --sds-clr-amber-04: #3f2200;
  --sds-clr-amber-05: #4a2900;
  --sds-clr-amber-06: #573300;
  --sds-clr-amber-07: #693f05;
  --sds-clr-amber-08: #824e00;
  --sds-clr-amber-09: #ffb224;
  --sds-clr-amber-10: #ffcb47;
  --sds-clr-amber-11: #f1a10d;
  --sds-clr-amber-12: #fef3dd;

  // Red
  --sds-clr-red-01: #1f1315;
  --sds-clr-red-02: #291415;
  --sds-clr-red-03: #3c181a;
  --sds-clr-red-04: #481a1d;
  --sds-clr-red-05: #541b1f;
  --sds-clr-red-06: #671e22;
  --sds-clr-red-07: #822025;
  --sds-clr-red-08: #aa2429;
  --sds-clr-red-09: #e5484d;
  --sds-clr-red-10: #f2555a;
  --sds-clr-red-11: #ff6369;
  --sds-clr-red-12: #feecee;

  // White
  --sds-clr-white: #ffffff;
}

@mixin theme-common {
  // TODO: update var names using --sds- prefix
  // Font size
  --font-size: 16px;
  --font-size-secondary: 14px;

  // Font weight
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  // Font family
  --font-family-heading: "Inter", sans-serif;
  --font-family-base: "Inter", sans-serif;
  --font-family-monospace: "Inconsolata", monospace;

  // Z-index
  --z-index-tooltip: 20;
  --z-index-modal: 30;

  // Opacity
  --opacity-disabled-button: 0.6;

  // Layout
  --layout-window-width-min: 360px;
  --layout-window-width-max: 1296px;
  --layout-window-height-min: 100vh;

  // Animations
  --anim-transition-default: cubic-bezier(0.65, 0.05, 0.36, 1) 200ms;

  // Avatar
  --Avatar-image-size: 100%;
}

// =============================================================================
// Setting themes
// =============================================================================
:root {
  @include theme-common;
}

.sds-theme-light {
  @include theme-light;
}

.sds-theme-dark {
  @include theme-dark;
}
